{
    "swagger": "2.0",
    "info": {
        "title": "Playbasis API",
        "description": "API Explorer",
        "termsOfService": "",
        "contact": {
            "email": "info@playbasis.com"
        },
        "version": "1.0"
    },
    "host": "api.pbapp.net",
    "basePath": "/",
    "schemes": [
        "https"
    ],
    "paths": {
        "/Auth": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "description": "Request an access token from Playbasis",
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key issued by Playbasis",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "api_secret",
                        "in": "query",
                        "description": "API Secret issued by Playbasis",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "apiKey": [],
                        "apiSecret": []
                    }
                ]
            }
        },
        "/Auth/renew": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "description": "Create a new access token from Playbasis",
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key issued by Playbasis",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "api_secret",
                        "in": "query",
                        "description": "API Secret issued by Playbasis",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Auth/player/{player_id}": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "description": "Create a new access token from Playbasis",
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key issued by Playbasis",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "player_id",
                        "in": "path",
                        "description": "Player ID as used in client's website",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "Player's password",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Auth/player/{player_id}/renew": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "description": "Create a new access token from Playbasis and discard the previous one",
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key issued by Playbasis",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "player_id",
                        "in": "path",
                        "description": "Player ID as used in client's website",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "refresh_token",
                        "in": "query",
                        "description": "Refresh token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Auth/player/{player_id}/revoke": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "description": "Revoke existing Access Token",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Access token returned by Playbasis Authentication",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "player_id",
                        "in": "path",
                        "description": "Player ID as used in client's website",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Auth/player/{player_id}/register": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "description": "Register a user from client's website as a Playbasis player",
                "parameters": [
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key issued by Playbasis",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "player_id",
                        "in": "path",
                        "description": "Player ID as used in client's website",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "Player's password",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "username",
                        "in": "query",
                        "description": "Player's username",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Player's email",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "image",
                        "in": "query",
                        "description": "Player's profile image",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "phone_number",
                        "in": "query",
                        "description": "Player's phone number (e.g. +66 xxyyyyzzzz)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "description": "Specific tag(s) to find",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "facebook_id",
                        "in": "query",
                        "description": "Player's Facebook ID",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "twitter_id",
                        "in": "query",
                        "description": "Player's Twitter ID",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "first_name",
                        "in": "query",
                        "description": "Player's first name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "last_name",
                        "in": "query",
                        "description": "Player's last name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "gender",
                        "in": "query",
                        "description": "Player's gender",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "1",
                            "2"
                        ]
                    },
                    {
                        "name": "birth_date",
                        "in": "query",
                        "description": "Player's date of birth (e.g. YYYY-MM-DD)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Referral code of another player for an invitation",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "anonymous",
                        "in": "query",
                        "description": "Anonymous flag",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "0",
                            "1"
                        ]
                    },
                    {
                        "name": "device_id",
                        "in": "query",
                        "description": "Player's Device ID to submit verification process",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "approve_status",
                        "in": "query",
                        "description": "Approval status of the Player",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "approved",
                            "rejected",
                            "pending"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Badges": {
            "get": {
                "tags": [
                    "Badge"
                ],
                "description": "Returns information about all available badges",
                "parameters": [
                    {
                        "name": "tags",
                        "in": "path",
                        "description": "Comma separated values",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Badge/{id}": {
            "get": {
                "tags": [
                    "Badge"
                ],
                "description": "Get information about a specific badge",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Player ID as used in client's website",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Access token returned by Playbasis Authentication",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Campaign": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Get campaign",
                "parameters": [
                    {
                        "name": "campaign_name",
                        "in": "query",
                        "description": "Name of campaign to retrieve campaign details",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "description": "Specific tag(s) to find",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Campaign/active": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Retrieve active campaign",
                "parameters": [
                    {
                        "name": "tags",
                        "in": "query",
                        "description": "Specific tag(s) to find",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Content": {
            "get": {
                "tags": [
                    "Content"
                ],
                "description": "Retrieve content(s) by specified filter fields",
                "parameters": [
                    {
                        "name": "node_id",
                        "in": "query",
                        "description": "Node Id of specific content",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Select language of content's detail | default = English",
                        "required": false,
                        "type": "string",
                        "default": "English"
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "description": "Specific title of content",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "description": "Specific category name of content",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "date_check",
                        "in": "query",
                        "description": "Return content that is available in this date range",
                        "required": false,
                        "type": "string",
                        "default": "false"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Return content that is available in this date range",
                        "required": false,
                        "type": "string",
                        "default": "title",
                        "enum": [
                            "title",
                            "date_start",
                            "date_end",
                            "date_added",
                            "date_modified",
                            "random",
                            "followup",
                            "action"
                        ]
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Return content that is available in this date range | specify seed number if choice is 'random'",
                        "required": false,
                        "type": "string",
                        "default": "asc",
                        "enum": [
                            "asc",
                            "desc",
                            "random"
                        ]
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Specify paging offset | default = 0",
                        "required": false,
                        "type": "string",
                        "default": 0
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Specify amount to return | default = 20",
                        "required": false,
                        "type": "string",
                        "default": 20
                    },
                    {
                        "name": "full_html",
                        "in": "query",
                        "description": "Return full html",
                        "required": false,
                        "type": "string",
                        "default": "false",
                        "enum": [
                            "true",
                            "false"
                        ]
                    },
                    {
                        "name": "pin",
                        "in": "query",
                        "description": "Secret PIN code for content",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "description": "Specific tag(s) to find",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Specify status of the content to find. | default = true",
                        "required": false,
                        "type": "string",
                        "default": "true",
                        "enum": [
                            "true",
                            "false",
                            "all"
                        ]
                    },
                    {
                        "name": "player_id",
                        "in": "path",
                        "description": "Player ID as used in client's website",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "only_new_content",
                        "in": "path",
                        "description": "Display content which the player does not provide any action (like/dislike)",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "true",
                            "false"
                        ]
                    },
                    {
                        "name": "only_new_feedback",
                        "in": "path",
                        "description": "Display content which the player does not provide any action yet",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "true",
                            "false"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Content/count": {
            "get": {
                "tags": [
                    "Content"
                ],
                "description": "Count content(s) by specified filter fields",
                "parameters": [
                    {
                        "name": "title",
                        "in": "query",
                        "description": "Specific title of content",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "description": "Specific category name of content",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "date_check",
                        "in": "query",
                        "description": "Return content that is available in this date range",
                        "required": false,
                        "type": "string",
                        "default": "false"
                    },
                    {
                        "name": "pin",
                        "in": "query",
                        "description": "Secret PIN code for content",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "description": "Specific tag(s) to find",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Specify status of the content to find. | default = true",
                        "required": false,
                        "type": "string",
                        "default": "true",
                        "enum": [
                            "true",
                            "false",
                            "all"
                        ]
                    },
                    {
                        "name": "player_id",
                        "in": "path",
                        "description": "Player ID as used in client's website",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "only_new_content",
                        "in": "path",
                        "description": "Display content which the player does not provide any action (like/dislike)",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "true",
                            "false"
                        ]
                    },
                    {
                        "name": "only_new_feedback",
                        "in": "path",
                        "description": "Display content which the player does not provide any action yet",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "true",
                            "false"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Content/category": {
            "get": {
                "tags": [
                    "Content"
                ],
                "description": "Retrieve category by specified filter fields",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Specific Id of category",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "Specific name of category",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sort",
                        "in": "path",
                        "description": "Specific field to sort | (e.g. _id, name, dated_added, date_modified)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "order",
                        "in": "path",
                        "description": "Direction to order | (e.g. desc, asc)",
                        "required": false,
                        "type": "string",
                        "default": "asc"
                    },
                    {
                        "name": "offset",
                        "in": "path",
                        "description": "Specify paging offset | default = 0",
                        "required": false,
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "limit",
                        "in": "path",
                        "description": "Specify amount of records",
                        "required": false,
                        "type": "integer",
                        "default": 20
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Content/addContent": {
            "post": {
                "tags": [
                    "Content"
                ],
                "description": "Create content",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Access token returned by Playbasis Authentication",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "node_id",
                        "in": "query",
                        "description": "Specific Node Id of content",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "description": "Specific title of content",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "summary",
                        "in": "query",
                        "description": "Specific summary of content",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "detail",
                        "in": "query",
                        "description": "Specific detail of content",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "description": "Specific category name of content",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "image",
                        "in": "query",
                        "description": "URL to the content profile image",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "URL to the content profile image",
                        "required": false,
                        "type": "string",
                        "default": "false",
                        "enum": [
                            "true",
                            "false"
                        ]
                    },
                    {
                        "name": "date_start",
                        "in": "query",
                        "description": "Date start | format = YYYY-MM-DD (e.g. 1982-09-29)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "date_end",
                        "in": "query",
                        "description": "Date end | format = YYYY-MM-DD (e.g. 1982-09-29)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "player_id",
                        "in": "path",
                        "description": "Player ID as used in client's website",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "pin",
                        "in": "query",
                        "description": "Secret PIN code for content",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "description": "Specific tag(s) to find",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "key",
                        "in": "query",
                        "description": "Comma separated keys",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "value",
                        "in": "query",
                        "description": "Comma separated values",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Content/{node_id}/update": {
            "post": {
                "tags": [
                    "Content"
                ],
                "description": "Update content",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Access token returned by Playbasis Authentication",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "node_id",
                        "in": "path",
                        "description": "Specific Node Id of content",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "description": "Specific title of content",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "summary",
                        "in": "query",
                        "description": "Specific summary of content",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "detail",
                        "in": "query",
                        "description": "Specific detail of content",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "description": "Specific category name of content",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "image",
                        "in": "query",
                        "description": "URL to the content profile image",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "URL to the content profile image",
                        "required": false,
                        "type": "string",
                        "default": "false",
                        "enum": [
                            "true",
                            "false"
                        ]
                    },
                    {
                        "name": "date_start",
                        "in": "query",
                        "description": "Date start | format = YYYY-MM-DD (e.g. 1982-09-29)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "date_end",
                        "in": "query",
                        "description": "Date end | format = YYYY-MM-DD (e.g. 1982-09-29)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "pin",
                        "in": "query",
                        "description": "Secret PIN code for content",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "description": "Specific tag(s) to find",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "key",
                        "in": "query",
                        "description": "Comma separated keys",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "value",
                        "in": "query",
                        "description": "Comma separated values",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Content/{node_id}/player/{player_id}/like": {
            "post": {
                "tags": [
                    "Content"
                ],
                "description": "Send a like action as a player to content",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Access token returned by Playbasis Authentication",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "node_id",
                        "in": "path",
                        "description": "Node ID as used in client's content",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "player_id",
                        "in": "path",
                        "description": "Player ID as used in client's website",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "key",
                        "in": "query",
                        "description": "Custom fields keys separated by comma",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "values",
                        "in": "query",
                        "description": "Custom fields values separated by comma",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Content/{node_id}/player/{player_id}/dislike": {
            "post": {
                "tags": [
                    "Content"
                ],
                "description": "Send a dislike action as a player to content",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Access token returned by Playbasis Authentication",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "node_id",
                        "in": "path",
                        "description": "Node ID as used in client's content",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "player_id",
                        "in": "path",
                        "description": "Player ID as used in client's website",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "key",
                        "in": "query",
                        "description": "Custom fields keys separated by comma",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "values",
                        "in": "query",
                        "description": "Custom fields values separated by comma",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Content/{node_id}/player/{player_id}/feedback": {
            "post": {
                "tags": [
                    "Content"
                ],
                "description": "Send feedback as a player to content",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Access token returned by Playbasis Authentication",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "node_id",
                        "in": "path",
                        "description": "Node ID as used in client's content",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "player_id",
                        "in": "path",
                        "description": "Player ID as used in client's website",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "feedback",
                        "in": "query",
                        "description": "Feedback from the player to the content",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "key",
                        "in": "query",
                        "description": "Custom fields keys separated by comma",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "values",
                        "in": "query",
                        "description": "Custom fields values separated by comma",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Content/{node_id}/delete": {
            "post": {
                "tags": [
                    "Content"
                ],
                "description": "Delete content",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Access token returned by Playbasis Authentication",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "node_id",
                        "in": "path",
                        "description": "Specific Node Id of content",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Content/category/create": {
            "post": {
                "tags": [
                    "Content"
                ],
                "description": "Create content category",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Access token returned by Playbasis Authentication",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Specific name of category",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Content/category/update": {
            "post": {
                "tags": [
                    "Content"
                ],
                "description": "Update content category",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Access token returned by Playbasis Authentication",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Specific Id of category",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Specific name of category",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Content/category/delete": {
            "post": {
                "tags": [
                    "Content"
                ],
                "description": "Delete content category",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Access token returned by Playbasis Authentication",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Specific Id of category",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Style": {
            "get": {
                "tags": [
                    "Style"
                ],
                "description": "Retrieve custom style by specified filter fields",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Name of group to retrieve custom style",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "key",
                        "in": "query",
                        "description": "Name of key name to retrieve custom style",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Field to sort (e.g. name, key, date_added, date_modified)",
                        "required": false,
                        "type": "string",
                        "default": "name"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Field to sort (e.g. name, key, date_added, date_modified)",
                        "required": false,
                        "type": "string",
                        "default": "asc",
                        "enum": [
                            "asc",
                            "desc",
                            "random"
                        ]
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Specify paging offset | default = 0",
                        "required": false,
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Specify paging limit | default = 20",
                        "required": false,
                        "type": "integer",
                        "default": 20
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Point/custom/list": {
            "get": {
                "tags": [
                    "Point"
                ],
                "description": "Return a list of custom points to be approved",
                "parameters": [
                    {
                        "name": "player_list",
                        "in": "query",
                        "description": "List of players (e.g. John, Max, Robert)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Status of custom point",
                        "required": true,
                        "type": "string",
                        "default": "all",
                        "enum": [
                            "all",
                            "approve",
                            "pending",
                            "reject"
                        ]
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "From date (e.g. YYYY-MM-DD format)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "To date (e.g. YYYY-MM-DD format)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Specify paging offset | default = 0",
                        "required": false,
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Specify paging limit | default = 20",
                        "required": false,
                        "type": "integer",
                        "default": 20
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Point/custom/transaction": {
            "get": {
                "tags": [
                    "Point"
                ],
                "description": "Return transaction of custompoint",
                "parameters": [
                    {
                        "name": "transaction_id",
                        "in": "query",
                        "description": "Transaction ID of custompoint",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Point/custom/approval": {
            "post": {
                "tags": [
                    "Point"
                ],
                "description": "To approve custom point in transaction list",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Access token returned by Playbasis Authentication",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "transaction_id",
                        "in": "query",
                        "description": "Transaction ID of custompoint",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "approve",
                        "in": "query",
                        "description": "Transaction ID of custompoint",
                        "required": true,
                        "type": "boolean",
                        "enum": [
                            "true",
                            "false"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Point/custom/remaining": {
            "get": {
                "tags": [
                    "Point"
                ],
                "description": "Return remaining for each points",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Return remaining for each points",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Point/custom/log": {
            "get": {
                "tags": [
                    "Point"
                ],
                "description": "Return First/Last reward custom log",
                "parameters": [
                    {
                        "name": "player_id",
                        "in": "query",
                        "description": "Player ID as used in client's website",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "reward_name",
                        "in": "query",
                        "description": "Name of reward to be queried",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "key",
                        "in": "query",
                        "description": "Key name of custom parameter",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Key name of custom parameter",
                        "required": true,
                        "type": "string",
                        "default": "asc",
                        "enum": [
                            "asc",
                            "desc"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Point/custom/clearLog": {
            "post": {
                "tags": [
                    "Point"
                ],
                "description": "To clear reward custom log",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Access token returned by Playbasis Authentication",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "log_id",
                        "in": "query",
                        "description": "ID of reward custom log",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Email/send": {
            "post": {
                "tags": [
                    "Communication"
                ],
                "description": "Send email to a player",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Access token returned by Playbasis Authentication",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "player_id",
                        "in": "query",
                        "description": "Player ID as used in client's website",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "subject",
                        "in": "query",
                        "description": "Email subject",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "message",
                        "in": "query",
                        "description": "Email message | message or template_id required",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "template_id",
                        "in": "query",
                        "description": "Template ID | message or template_id required",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Email/goods": {
            "post": {
                "tags": [
                    "Communication"
                ],
                "description": "Send email to a player",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Access token returned by Playbasis Authentication",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "player_id",
                        "in": "query",
                        "description": "Player ID as used in client's website",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "ref_id",
                        "in": "query",
                        "description": "Reference transaction ID for redemption",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "subject",
                        "in": "query",
                        "description": "Email subject",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "message",
                        "in": "query",
                        "description": "Email message | message or template_id required",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "template_id",
                        "in": "query",
                        "description": "Template ID | message or template_id required",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Email/recent": {
            "get": {
                "tags": [
                    "Communication"
                ],
                "description": "List recent emails sent to a player",
                "parameters": [
                    {
                        "name": "player_id",
                        "in": "query",
                        "description": "Player ID as used in client's website",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "since",
                        "in": "query",
                        "description": "DateTime formatted string",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Email/template/{template_id}": {
            "get": {
                "tags": [
                    "Communication"
                ],
                "description": "Get processed email template.",
                "parameters": [
                    {
                        "name": "template_id",
                        "in": "path",
                        "description": "Template message ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "player_id",
                        "in": "query",
                        "description": "Player ID as used in client's website",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Email/template": {
            "get": {
                "tags": [
                    "Communication"
                ],
                "description": "List email templates",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Engine/rules": {
            "get": {
                "tags": [
                    "Engine"
                ],
                "description": "Returns a list of active game rules defined for a client's website",
                "parameters": [
                    {
                        "name": "action",
                        "in": "query",
                        "description": "Name of action performed",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "player_id",
                        "in": "query",
                        "description": "Player ID as used in client's website",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Engine/rule/{id}": {
            "get": {
                "tags": [
                    "Engine"
                ],
                "description": "Get details of the rule",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Rule ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "player_id",
                        "in": "query",
                        "description": "Player ID as used in client's website",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Engine/rule": {
            "post": {
                "tags": [
                    "Engine"
                ],
                "description": "Returns a list of active game rules defined for a client's website",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Access token returned by Playbasis Authentication",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "action",
                        "in": "query",
                        "description": "Name of action performed",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "player_id",
                        "in": "query",
                        "description": "Player ID as used in client's website",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "url",
                        "in": "query",
                        "description": "URL of the page that triggers the action or any identifier string",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "reward",
                        "in": "query",
                        "description": "Name of the point-based rewardto give to the player",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "quantity",
                        "in": "query",
                        "description": "Amount of point-based rewards to give to the player",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "rule_id",
                        "in": "query",
                        "description": "You can also specify a rule Id so that the rule engine will only process against that rule",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "node_id",
                        "in": "query",
                        "description": "You can also specific a node Id so that the rule engine will process with that rule",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "session_id",
                        "in": "query",
                        "description": "You can specify a session Id to extend expiration session time for the player",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/File/delete": {
            "post": {
                "tags": [
                    "File"
                ],
                "description": "Retrieve image(s) content by specified filter fields",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Access token returned by Playbasis Authentication",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "file_name",
                        "in": "query",
                        "description": "Image file name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/File/list": {
            "get": {
                "tags": [
                    "File"
                ],
                "description": "Retrieve image(s) content by specified filter fields",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Id of file data",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "player_id",
                        "in": "query",
                        "description": "Player ID as used in client's website",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Field to sort | (e.g. date_added, date_modified, type, file_size)",
                        "required": false,
                        "type": "string",
                        "default": "date_added"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Player ID as used in client's website",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "asc",
                            "desc"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Fitbit": {
            "get": {
                "tags": [
                    "Health"
                ],
                "description": "Retrieve Fitbit player",
                "parameters": [
                    {
                        "name": "player_id",
                        "in": "query",
                        "description": "Player ID as used in client's website",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Fitbit/add": {
            "post": {
                "tags": [
                    "Health"
                ],
                "description": "Add a new Fitbit player",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Access token returned by Playbasis Authentication",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "player_id",
                        "in": "query",
                        "description": "Player ID as used in client's website",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "fitbit_token",
                        "in": "query",
                        "description": "Fitbit token to access Fitbit API",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "subscription_id",
                        "in": "query",
                        "description": "Subscription Id to subscribe to a Fitbit activity",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Fitbit/{player_id}/update": {
            "post": {
                "tags": [
                    "Health"
                ],
                "description": "Add a new Fitbit player",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Access token returned by Playbasis Authentication",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "player_id",
                        "in": "path",
                        "description": "Player ID as used in client's website",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "fitbit_token",
                        "in": "query",
                        "description": "Fitbit token to access Fitbit API",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "subscription_id",
                        "in": "query",
                        "description": "Subscription Id to subscribe to a Fitbit activity",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Fitbit/{player_id}/delete": {
            "post": {
                "tags": [
                    "Health"
                ],
                "description": "Delete Fitbit Player",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Access token returned by Playbasis Authentication",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "player_id",
                        "in": "path",
                        "description": "Player ID as used in client's website",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Fitbit/{player_id}/data": {
            "get": {
                "tags": [
                    "Health"
                ],
                "description": "Delete Fitbit Player",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Access token returned by Playbasis Authentication",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "player_id",
                        "in": "path",
                        "description": "Player ID as used in client's website",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "description": "Category of data",
                        "required": true,
                        "type": "string",
                        "default": "PROFILE",
                        "enum": [
                            "ACTIVITY",
                            "BODY",
                            "BP",
                            "FOOD",
                            "GLUCOSE",
                            "HEART",
                            "PROFILE",
                            "SLEEP"
                        ]
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "description": "Date start | format YYYY-MM-DD or 'today'",
                        "required": false,
                        "type": "string",
                        "default": "today"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Game": {
            "get": {
                "tags": [
                    "Game"
                ],
                "description": "Retrieve game(s) setting by specified filter fields",
                "parameters": [
                    {
                        "name": "game_name",
                        "in": "query",
                        "description": "Name of game to retrieve game details",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "stage_level",
                        "in": "query",
                        "description": "Stage level of game",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "stage_name",
                        "in": "query",
                        "description": "Stage name of game",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Field to sort",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "game_name",
                            "date_added",
                            "date_modified",
                            "random"
                        ]
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Direction to order | specify seed number if choice is 'random'",
                        "required": false,
                        "type": "string",
                        "default": "asc",
                        "enum": [
                            "asc",
                            "desc",
                            "random"
                        ]
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Specify paging offset | default = 0",
                        "required": false,
                        "type": "string",
                        "default": 0
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Specify paging limit",
                        "required": false,
                        "type": "string",
                        "default": 20
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "description": "Specific tag(s) to find",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Status of the content to find",
                        "required": false,
                        "type": "string",
                        "default": "true",
                        "enum": [
                            "true",
                            "false",
                            "all"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Game/campaign": {
            "get": {
                "tags": [
                    "Game"
                ],
                "description": "Retrieve game campaign",
                "parameters": [
                    {
                        "name": "game_name",
                        "in": "query",
                        "description": "Name of game to retrieve game details",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "campaign_name",
                        "in": "query",
                        "description": "Name of campaign to retrieve campaign details",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Game/campaign/active": {
            "get": {
                "tags": [
                    "Game"
                ],
                "description": "Retrieve active campaign",
                "parameters": [
                    {
                        "name": "game_name",
                        "in": "query",
                        "description": "Name of game to retrieve game details",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Game/playerItemStatus": {
            "get": {
                "tags": [
                    "Game"
                ],
                "description": "Retrieve active campaign",
                "parameters": [
                    {
                        "name": "game_name",
                        "in": "query",
                        "description": "Name of game to retrieve game details",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "player_id",
                        "in": "query",
                        "description": "Player ID as used in client's website",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "stage_level",
                        "in": "query",
                        "description": "Specific stage level of game",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "item_id",
                        "in": "query",
                        "description": "Specific item Id in the game",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Game/setCurrentStage": {
            "post": {
                "tags": [
                    "Game"
                ],
                "description": "Set current stage for player to play the game",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Access token returned by Playbasis Authentication",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "game_name",
                        "in": "query",
                        "description": "Name of game to retrieve game details",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "stage_level",
                        "in": "query",
                        "description": "Specific stage level of game",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "player_id",
                        "in": "query",
                        "description": "Player ID as used in client's website",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Goods/{id}": {
            "get": {
                "tags": [
                    "Goods"
                ],
                "description": "Get information about goods with a specific Id",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Player ID as used in client's website",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "player_id",
                        "in": "query",
                        "description": "Player ID as used in client's website",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Goods": {
            "get": {
                "tags": [
                    "Goods"
                ],
                "description": "Get information about goods with a specific Id",
                "parameters": [
                    {
                        "name": "player_id",
                        "in": "query",
                        "description": "Player ID as used in client's website",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "active_filter",
                        "in": "query",
                        "description": "Filter only active goods",
                        "required": true,
                        "type": "string",
                        "default": "false",
                        "enum": [
                            "true",
                            "false"
                        ]
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Name or group name of goods to search",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "date_start",
                        "in": "query",
                        "description": "Date start | format = YYYY-MM-DD (e.g. 1982-09-29)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "date_end",
                        "in": "query",
                        "description": "Date end | format = YYYY-MM-DD (e.g. 1982-09-29)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Field to be sorted | (e.g. sort_order, name, quantity, description, date_start, date_end)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Specify sorted direction | (e.g. desc, asc)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Specify paging offset | default = 0",
                        "required": false,
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Specify paging limit",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "tags",
                        "in": "path",
                        "description": "Comma separated values",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "custom_param",
                        "in": "path",
                        "description": "Custom param | (e.g. <, <=, >, >=, =, !=)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "not_custom_param",
                        "in": "path",
                        "description": "Not custom param | (e.g. <, <=, >, >=, =, !=)",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Goods/field": {
            "get": {
                "tags": [
                    "Goods"
                ],
                "description": "Get information about goods with a specific Id",
                "parameters": [
                    {
                        "name": "player_id",
                        "in": "query",
                        "description": "Player ID as used in client's website",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "selected_field",
                        "in": "query",
                        "description": "Select parameters",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "date_start",
                        "in": "query",
                        "description": "Date start | format = YYYY-MM-DD (e.g. 1982-09-29)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "date_end",
                        "in": "query",
                        "description": "Date end | format = YYYY-MM-DD (e.g. 1982-09-29)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Specify paging offset | default = 0",
                        "required": false,
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Specify paging limit",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "tags",
                        "in": "path",
                        "description": "Comma separated values",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Goods/sponsor/{id}": {
            "get": {
                "tags": [
                    "Goods"
                ],
                "description": "Get information about goods with a specific Id",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Player ID as used in client's website",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Goods/sponsor": {
            "get": {
                "tags": [
                    "Goods"
                ],
                "description": "Returns information about all available sponsored goods",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Insurance/getSuggestInsurance": {
            "post": {
                "tags": [
                    "Insurance"
                ],
                "description": "To get suggest insurance cover",
                "parameters": [
                    {
                        "name": "player_id",
                        "in": "query",
                        "description": "Player ID as used in client's website",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "product_type",
                        "in": "query",
                        "description": "Insurance product",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Language": {
            "get": {
                "tags": [
                    "Language"
                ],
                "description": "Retrieve language list",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Link": {
            "get": {
                "tags": [
                    "Link"
                ],
                "description": "Find details of data associated wtih a link",
                "parameters": [
                    {
                        "name": "link",
                        "in": "query",
                        "description": "Link to find associated data",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "apiKey": [],
                        "token": []
                    }
                ]
            }
        },
        "/Link/generate": {
            "post": {
                "tags": [
                    "Link"
                ],
                "description": "Generate a unique URL",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Access token returned by Playbasis Authentication",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/Location": {
            "get": {
                "tags": [
                    "Location"
                ],
                "description": "Retrieve location",
                "parameters": [
                    {
                        "name": "location_id",
                        "in": "query",
                        "description": "Location ID",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "status",
[...]
